/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    padding: 0;
    background-color: #caeff1;
    color: #333;
}
.imagemDoCodigo{
    height: 100px;
}
.imagem{
    height: 150px;
}
.logo{
    height: 150px;
}
.order{
    height: 200px;
}
.banner{
    height: 300px;
}
.align-items{
    height: 350px;
}
.justify-contentimg{
    height: 400px;
}
.justify-content{
    height: 450px;
}
/* Estilo do título principal */
h1 {
    font-size: 2em;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo dos subtítulos */
h2 {
    font-size: 1.5em;
    color: #34495e;
    margin-top: 30px;
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
}

h3 {
    font-size: 1.2em;
    color: #5d6d7e;
    margin-top: 20px;
    border-left: 4px solid #3498db;
    padding-left: 10px;
}

/* Estilos dos parágrafos */
p {
    margin-bottom: 15px;
}

/* Estilo da lista ordenada */
ol {
    margin-left: 20px;
}

ol ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 10px;
}

ol ul li {
    margin: 5px 0;
}

/* Estilos dos links */
a {
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #1abc9c;
}

/* Estilo dos links fortes */
strong a {
    color: #2c3e50;
    font-weight: bold;
}

strong a:hover {
    color: #1abc9c;
}
